<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magenest_Movie::magenest" title="Magenest" sortOrder="100">
                    <resource id="Magenest_Movie::menu" title="menu" sortOrder="10">
                        <resource id="Magenest_Movie::sub_one_menu" title="Sub one menu" sortOrder="10"/>
                        <resource id="Magenest_Movie::sub_two_menu" title="Sub two menu" sortOrder="20"/>
                    </resource>
                    <resource id="Magenest_Movie::configuration" title="Configuration" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
