<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="field_calendar" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magenest\Movie\Ui\DataProvider\Product\Form\Modifier\Calendar
                    </item>
                    <item name="sortOrder" xsi:type="number">2</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="calendar_fieldset" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Magenest\Movie\Ui\DataProvider\Product\Form\Modifier\NewField
                    </item>
                    <item name="sortOrder" xsi:type="number">2</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magenest\Movie\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">vimagento/tmp/post</argument>
            <argument name="basePath" xsi:type="string">vimagento/post</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="png" xsi:type="string">png</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="rar" xsi:type="string">rar</item>
            </argument>
        </arguments>
    </type>
</config>
